*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (min-width: 800px) {
  .App{
    height: 100vh;
  }
}
